header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36,41,47) ;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

ul {
    display: flex; /*옆으로 정렬*/
}

nav ul li a{
    color: white;
}

#logo {
    float: left;
}