* {
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400px;
    color: #141414;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration:none;  /* 텍스트 링크 밑줄 없애기 */ 
  }